<header class="list-header row">
  <div class="col-9">
    <h3>Rents</h3>
  </div>
  <div class="col-6 text-right">
    <button class="btn btn-primary" (click)="add()">Add new rent</button>
  </div>
</header>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>User</th>
      <th>Books</th>
      <th>Date rented</th>
      <th>Notes</th>
      <th>Returned</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let rent of rents">
        <td>{{rent.user.firstName}} {{rent.user.lastName}} <br><span class="small">{{rent.user._id}}</span></td>
        <td>
          <ul class="list-unstyled">
            <li *ngFor="let book of rent.books">
              {{book.title}}
            </li>
          </ul>
        </td>
        <td>{{rent.dateRented | date:'yMMMd'}}</td>
        <td>{{rent.notes}}</td>
         <td class="action">
          <button class="btn btn-secondary" [ngClass]="{'btn-success' : rent.returned}" [disabled]="rent.returned" (click)="updateRent(rent._id)"><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
        <td class="action">
          <button class="btn btn-danger" (click)="deleteRent(rent._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
